body {
    font-size: 14px;
    width: 100%;
}

$width80:80%;
$fontwidth16: 16px;
$fontwidth20: 20px;
$fontsize30: 30px;
$fontsize14: 14px;
$fontsize12: 12px;
$fontsize11: 11px;
$fontsize13: 13px;
$fontwidth18: 18px;
$width70:70%;
$width75:75%;
$width80:80%;
.fontsize12 {
    font-size: 12px;
}

.fontsize11 {
    font-size: 11px;
}

.fontsize13 {
    font-size: 13px;
}

.fontsize16 {
    font-size: 16px;
}

.fontsize18 {
    font-size: 18px;
}

.fontsize20 {
    font-size: 20px;
}

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

p {
    @include font-size(14px);
}

// 省略号
@mixin AddDot() {
    display: block; // white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// 居中
@mixin positionAb($x, $y) {
    position: absolute;
    left: 50%;
    top: 50%;
    width: $x;
    height: $y;
    margin-left: -$x/2;
    margin-top: -$y/2;
    z-index: 99;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.inputwidth200 {
    width: 200px;
}

// 清浮动
.clearfix {
    *zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// 跨浏览器透明度设置
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

.alignleft {
    text-align: left;
}

.aligncenter {
    text-align: center;
}

.alignright {
    text-align: right;
}

.el-input__inner {
    height: 32px;
    line-height: 32px;
}

.el-button {
    padding: 7px 10px;
    font-size: 13px;
    background: #eb5e5f;
    border-color: #eb5e5f;
}

// select选框内部胡竖划线
input.el-input__inner {
    border-right: 1px solid #ccc;
}

.el-button--primary.is-disabled {
    background: #eb5e5f;
    border-color: #eb5e5f;
    color: #fff;
}

.el-button--primary.is-disabled:active,
.el-button--primary.is-disabled:focus,
.el-button--primary.is-disabled:hover {
    color: #fff;
    background-color: #D43537;
    border-color: #D43537;
}

.el-button--primary:focus,
.el-button--primary:hover {
    background: #D43537;
    border-color: #D43537;
    color: #fff;
}

button.el-button.button-operator {
    background: none !important;
    border: none !important;
    color: #d43537;
}

.el-form--inline .el-form-item__content {
    width: 120px;
}

.main-conent-input200 .el-form--inline .el-form-item__content {
    min-width: 200px;
    width: 100%;
}

.main-conent-input200 .el-form-item {
    margin-top: 20px;
}

.el-form-item.el-form-item-search .el-form-item__content {
    width: 80px !important;
}

.el-table td,
.el-table th {
    padding: 4px 0px;
}

.el-table th {
    background-color: #e5e8ef;
    color: #57606f;
}

.el-pagination {
    padding-top: 30px;
    text-align: center;
}

.el-table tbody {
    font-size: $fontsize13;
}

.content-top-line {
    border-top: 0.5px solid #ebeef5;
    padding-top: 20px;
}

.el-table::before {
    height: 0px;
}

.el-dialog__header {
    background: #E24142;
    padding: 10px 10px 10px;
    /* color: #fff; */
}

span.el-dialog__title {
    color: #fff;
}

.el-dialog__headerbtn .el-dialog__close {
    color: #fff;
}

.el-dialog__headerbtn {
    top: 15px;
}

.el-input--prefix .el-input__inner {
    height: 28px;
    line-height: 28px;
}

.el-radio-button__orig-radio:checked+span {
    background-color: #e24142 !important;
    border-color: #e24142 !important;
    -webkit-box-shadow: -1px 0 0 0 #e24142 !important;
    box-shadow: -1px 0 0 0 #e24142 !important;
    border-radius: 5px !important;
}

.el-radio-button__inner:hover {
    color: #e24142;
}

.el-radio-button.el-radio-button--small.is-active {
    background-color: #e24142 !important;
    border-color: #e24142;
    -webkit-box-shadow: -1px 0 0 0 #e24142;
    box-shadow: -1px 0 0 0 #e24142;
}

.el-range__icon {
    margin-top: -9px !important;
    vertical-align: middle;
}

.my-redbutton {
    .el-button {
        border: 1px solid #eb5e5f;
        background-color: #eb5e5f !important;
        color: #fff !important;
        padding: 12px 22px;
        cursor: pointer;
        span {
            color: #fff;
        }
    }
}

.el-button:focus,
.el-button:hover {
    color: #fff;
}

.data-box .el-radio-button__inner {
    border-radius: 5px;
}

.rate-select {
    .el-radio-button__orig-radio:checked+span {
        background-color: #e24142 !important;
        border-color: #e24142 !important;
        -webkit-box-shadow: -1px 0 0 0 #e24142 !important;
        box-shadow: -1px 0 0 0 #e24142 !important;
        border-radius: 5px !important;
    }
    .el-date-editor {
        width: 228px;
        top: 44%;
        position: absolute;
        margin: 0 auto;
        left: 32%;
        .el-range__icon {
            margin-top: -9px !important;
        }
        .el-range-separator {
            line-height: 22px !important;
        }
        span.el-radio-button__inner {
            background: #e24142;
            color: #fff;
        }
    }
    button {
        left: 65%;
        top: 44.5%;
        position: absolute;
        background: #e24142;
        color: #fff;
    }
}

.child-menu-box .el-button {
    background: #ccc;
    color: #000;
    border-radius: 35px;
    border: 1px solid #ccc;
    font-size: 13px;
    padding: 7px 10px;
}

.child-menu-box .router-link-active {
    background: #eb5e5f;
    color: #fff;
    border: 1px solid #eb5e5f;
}

.child-menu-input {
    width: 100px;
    margin-right: 17px;
    .el-input__inner {
        padding: 18px 0px;
        border: none;
        text-align: center;
    }
    .el-input-group__append {
        background: #fff;
        padding: 0px;
        border: none;
        .el-button {
            color: #E24142;
            position: absolute;
            top: 12px;
            right: 22px;
            padding: 0px;
        }
    }
}